@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'ggSans';
  src: url('/fonts/gg-sans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'ggSans';
  src: url('/fonts/gg-sans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'ggSans';
  src: url('/fonts/gg-sans-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'ggSans';
  src: url('/fonts/gg-sans-Bold.ttf') format('truetype');
  font-weight: 700;
}


